.UsersResults
  display: flex
  align-items: center
  height: 50px
  margin-top: 10px
  width: 60%
  justify-content: space-between
  & img
    height: 100%
    border-radius: 50%
  & span
    color: #495C83
  & button
    width: 20%
    border: none;
    background-color: #A8A4CE;
    height: 50%;
    color: #f9f9f9;
    border-radius: 4px;
    cursor: pointer
    &:Hover
      background-color: #908cb9

.UsersResultsContainer
  margin-top: 10px
  width: 100%
  display: flex;
  flex-direction: column;
  align-items: center;