.searcher
  width: 80%
  height: auto
  background-color: #F9F9F9
  border-radius: 2rem
  display: flex
  flex-direction: column
  align-items: center
  box-shadow: 0px 2px 10px 3px #223152
  padding: 30px 0