.userDetails
  position absolute
  bottom 0
  background-color: #A8A4CE
  height: 200px
  width: 100%
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  //display: none //hace que no se vea

.userDetailsImg
  width: 30%
  display: flex;
  justify-content: center
  & img
    width: 160px
    border-radius: 50%

.userDetailsText
  justify-content: center
  height: 100%
  width: 50%
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & h1
    color: #f9f9f9
  & h2
    color: #495c83;
    font-weight: 500;
    font-size: initial;
    margin-bottom: 20px
  & h4
    color: #223152;
    font-weight: 600;

.organizations
  width: 20%
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 4% 
  & .organizationsDiv
    display: flex
    align-items: center
  & .organizationsImg 
    margin-right: 6%;
    & img
      width: 30px
      border-radius: 50%
  & h4
    color: #223152;
    font-weight: 600;

.active
  display: flex 